@model VejleSygehus2.Models.CreateArticleViewModel

<div>
    @Html.LabelFor(model => model.Article.Header)
    @Html.TextBoxFor(model => model.Article.Header)
</div>

<div>
    @Html.LabelFor(model => model.Article.Body)
    @Html.TextAreaFor(model => model.Article.Body, new { @class = "artikel-body" })
</div>


@{
    var items = new List<SelectListItem>();
    foreach (var category in Model.Categories)
    {
        items.Add(new SelectListItem
        {
            Text = category.Name,
            Value = category.Id.ToString()
        });
    }
}

<div>
    @Html.LabelFor(model => model.Article.Category)
    @Html.DropDownListFor(model => model.SelectedCategory, items)
</div>
